- return unless License.feature_available?(:default_project_deletion_protection)

- f = local_assigns.fetch(:form)

.form-group
  = f.label _('Default project deletion protection'), class: 'label-bold'
  = f.gitlab_ui_checkbox_component :default_project_deletion_protection, _('Only admins can delete project')
